/*
This stylesheet follows the SMACCS guidelines.
Visit http://smacss.com/ for mroe information.
*/


.clear { clear: both; }


/*
---------------------------------------------------------
    =Layout
---------------------------------------------------------
*/
/* Wrap large content pieces */
.goc-content {
    border: 1px solid #ddd;
    padding: 20px;
}


/*
---------------------------------------------------------
    =Modules
---------------------------------------------------------
*/

/*
    goc-header

    Includes a title and some 'instructions' for a large
    content area of a page.
*/
.goc-header {
    margin: 20px 0 15px 0;
}
.goc-header-title {
    padding: 0 0 15px 0;
    font-size: 19px;
    font-weight: 700;
    color: #2591ff;
}
.goc-header-instructions {
    font-size: 13px;
    color: #777;
}
/*  eo goc-header
--------------------------------------------------------- */


/*
    goc-slide

    A container for a slide thumbnail.  It includes both
    a small title and a thumbnail image.

    These can be 'selected', and are sortable sometimes.
*/
.goc-slide {
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}
.goc-slide-title {
    padding: 0 5px 5px 0;
    font-family: arial;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.goc-slide-image {
    width: 150px;
    height: 150px;
}
    /* States */
    .goc-slide:hover { border: 1px solid #aaa; }
    .is-selected {
        color: #fff;
        background: #2591ff;
        border: 1px solid #aaa; -webkit-box-shadow: 3px 3px 6px rgba(50, 50, 50, 0.25);
        -moz-box-shadow:    3px 3px 6px rgba(50, 50, 50, 0.25);
        box-shadow:         3px 3px 6px rgba(50, 50, 50, 0.25);
    }
/*  eo goc-slide
--------------------------------------------------------- */


/*
    goc-codes

    A simple container to display shortcodes.
*/
.goc-codes {
    margin: 0 0 20px 0;
    border: 1px dashed #666;
    padding: 10px 20px 0 20px;
}
.goc-codes-line {
    padding: 0 0 10px 0;
    font-family: 'consolas', 'courier new', sans-serif;
    font-size: 16px;
}
.goc-codes-smallline {
    padding: 0 0 10px 0;
    font-family: 'consolas', 'courier new', sans-serif;
    font-size: 13px;
}
/* eo goc-codes
--------------------------------------------------------- */



.goc-slideshow-link { text-decoration: none; }

.goc-slideshow {
    margin: 0 0 10px 0;
    border: 1px solid #ddd;
    padding: 20px;
    text-decoration: none;
}
.goc-slideshow:hover {
    cursor: pointer;
    background: #ffffff; /* Old browsers */
    border: 1px solid #aaa;
    -webkit-box-shadow: 3px 3px 6px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    3px 3px 6px rgba(50, 50, 50, 0.25);
    box-shadow:         3px 3px 6px rgba(50, 50, 50, 0.25);
}
.goc-slideshow > .title {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    text-decoration: none;
}


.goc-form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}
.goc-form > .label {
    float: left;
    width: 30%;
    max-width: 250px;
    margin-right: 5%;
    padding: 8px 0;
    font-size: 17px;
}
.goc-form > .input {
    float: left;
    width: 65%;
}
.goc-form > .input > input {
    font-size: 17px;
    padding: 6px;
}





/**
---------------------------------------------------------
    Elements
---------------------------------------------------------



---------------------------------------------------------
*/



.goc-order-link {
    background-color: #999 !important;
    border: 0 !important;
    margin: 10px 0 0 0;
    padding: 9px 16px;
    font-size: 15px;
    font-weight: 400;
    color: #fff !important;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
}
.goc-order-link:hover { background: #777 !important; }

.big-submit {
    background-color: #2591ff !important;
    border: 0 !important;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #fff !important;
    cursor: pointer;
}
.big-submit:hover {
    background-color: #127BE6 !important;
}
.big-submit-secondary {
    background-color: #888 !important;
    border: 0 !important;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #fff !important;
    cursor: pointer;background-color: #888 !important;
}
.big-submit-secondary:hover {
    background-color: #777 !important;
}

.goc-go-back {
    padding: 10px;
}